server:
  port: 8080

spring:
  cloud:
    gateway:
      mvc:
        routes:
          - id: employee-service
            uri: http://localhost:8081/
            predicates:
              - Path=/employee

          - id: address-service
            uri: http://localhost:8082/
            predicates:
              - Path=/address/*



